html,
body,
#root {
    height: 100%;
    min-width: 320px;
    margin: 0;
    --gn-aside-header-collapsed-background-color: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
    --g-color-line-generic: none;
    --g-color-base-selection: #A9E9E0;
    --g-color-line-brand: #54D3C2;
}
.content{
    background: var(--gn-aside-header-collapsed-background-color);
}